{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Goal Tracker</title>
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	</head>
	
	<body>
		{% if user.is_authenticated %}
		<p>Logged in as {{ user.username }}</p>
		<form action="{% url 'accounts:logout' %}" method="post">
			{% csrf_token %}
			<button type="submit">Logout</button>
		</form>
		{% else %}
		<p><a href="{% url 'accounts:login' %}">Login</a> | <a href="{% url 'accounts:signup' %}">Sign up</a></p>
		{% endif %}
		<hr>

		<!-- Django's messaging framework -->
		{% if messages %}
		<ul class="messages">
			{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
				{{ message }}
			</li>
			{% endfor %}
		</ul>
		{% endif %}

		{% block content %}{% endblock %}
		{% block script %}{% endblock %}
	</body>
</html>

